.skills-section {
  margin: 0 auto;
  color: #55524e;
  padding: 2rem 3rem;

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

.skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

.technology {
  p {
    font-size: 1.3rem;
    text-decoration: underline;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.2rem;
    margin-right: 2.1rem;
  }

  li {
    list-style: none;
    font-size: 3rem;
  }
}

.framework {
  p {
    font-size: 1.3rem;

    text-decoration: underline;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.2rem;
    margin-right: 1.5rem;
  }

  li {
    list-style: none;
    font-size: 3rem;
  }
}

.javascript {
  background-color: #000;
}

.other {
  p {
    font-size: 1.3rem;

    text-decoration: underline;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.2rem;
    margin-right: 1.2rem;
  }

  li {
    list-style: none;
    font-size: 3rem;
  }
}
